.link a{
      text-decoration: none;
      margin-right: 40px;
      color: white;
      font-weight: bolder;
}
.link{
      background-color: darkorange;
      padding: 20px;
      margin-bottom: 40px;
}